<h1 mat-dialog-title>{{title}}</h1>
<div mat-dialog-content>
  <!-- <p>What's your name?</p> -->
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="food.name">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Food Group</mat-label>
    <input matInput [(ngModel)]="food.foodGroup">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Calories</mat-label>
    <input type="number" matInput [(ngModel)]="food.calories">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-raised-button (click)="onOk()" color="primary" cdkFocusInitial>Ok</button>
</div>
